<!DOCTYPE html>
<html>
   <head>
      <title>Receive song suggestions based on your personality!</title> 
 
      <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
      <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
       
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </div>
 
        <div class="jumbotron">
            <h1>Discover new songs!</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="/showSignUp" role="button">Suggest me a song now!</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-16">
                <h4>It's simple!</h4>
                <p>By answering 10 simple personality questions, we will suggest 3 songs that you might like.</p>
                <h4>How does it work?</h4>
                <p> We store the preferred songs of thousands of people as well as their personality answers. Using this dataset, we apply a machine learning algorithm to your answers. Then you receive three songs.</p>  
                <p> After this, we will show three YouTube links corresponding to the suggested songs. If the song is not on YouTube yet, we will show the artist and name.</p>  
                <h4> Aren't you happy with our suggestions? Please help us to improve!</h4>
                <p>If you don't like any of the suggested songs, you can tell us your 3 preferred songs! If you do this, then  other people with a similar personality might enjoy your 3 preferred songs!</p>
                <p> Share your musical tastes with us!</p> 
          <div class="col-lg-6">
                <h4>Share this site with your friends!</h4>
                <p>If you like this site, please tell others about our existence! Share on Facebook, Twitter and any shit you prefer</p>
 
            </div>      
       
            </div>
 
            
        </div>
 
        <footer class="footer">
            <p>&copy; D & A Solutions, Mexico City. All Rights Reserved, 2017 </p>
        </footer>
 
    </div>
</body>
 
</html>